<template>
  <v-app>
    <v-app-bar app color="deep-orange darken-4" dark>
      <v-app-bar-nav-icon></v-app-bar-nav-icon>

      <v-toolbar-title>ToastyKraken</v-toolbar-title>

      <v-spacer></v-spacer>

      <v-btn
        href="https://braytech.org/3/4611686018468066628/2305843009299301624/now"
        target="_blank"
        text
      >
        <span class="mr-2">Braytech</span>
        <v-icon>mdi-open-in-new</v-icon>
      </v-btn>
      <v-btn
        href="https://destinytracker.com/destiny-2/profile/steam/4611686018468066628/overview"
        target="_blank"
        text
      >
        <span class="mr-2">Destiny Tracker</span>
        <v-icon>mdi-open-in-new</v-icon>
      </v-btn>
      <v-btn
        href="https://guardian.gg/2/profile/4611686018468066628/ToastyKraken"
        target="_blank"
        text
      >
        <span class="mr-2">Guardian</span>
        <v-icon>mdi-open-in-new</v-icon>
      </v-btn>
    </v-app-bar>

    <v-main>
      <v-container class="text-center" style="overflow: hidden;">
        <img src="./assets/images/ToastyKraken.png" style="height: 80vh;">
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
export default {
  name: "App"
};
</script>
